	body {
		background-color: black;
		background-size: cover;
		color: white;
		padding: 15px;
		text-align: center;
		margin: 0 0 100px; /* bottom = footer height */
	}

	.navbar-default .navbar-nav > .active{
    color: red;
   background-color: red;
	}

	h1 {
		font-size:50px;
	}

	h2{
		font-size:30px;
	}

	img{
		border: 10px solid white;
	}

	p{
		text-align: center;
		font-size: 15px
	}

	ul{
	list-style-type:none;
	margin:0;
	padding:0;
	}
	li
	{
	float:left;
	}

	#top-menu
	{
	background-color:#98D0FF;
	height:50px;	
	}

	#footer
	{
    height: 55px;
    left: 0;
	}

	.navbar-nav .active a{
			background-color: red;
		}
		

	#navdata a:hover
	{
		background-color: #30FFC7;
	}

	#navdata a:focus
	{
		background-color: blue;
	}

	#frontsheet{
		z-index: 2;
	}


